<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
	<display-name>Deposito</display-name>
<!--
		<servlet>
			<description></description>
			<display-name>AltaDiccionarioSVL</display-name>
			<servlet-name>AltaDiccionarioSVL</servlet-name>
			<servlet-class>servlets.AltaDiccionarioSVL</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AltaDiccionarioSVL</servlet-name>
			<url-pattern>/AltaDiccionarioSVL</url-pattern>
		</servlet-mapping>

  	<servlet>
		<description></description>
		<display-name>DiccionarioList</display-name>
		<servlet-name>DiccionarioList</servlet-name>
		<servlet-class>servlets.DiccionarioList</servlet-class>
	</servlet>
  <servlet-mapping>
    <servlet-name>DiccionarioList</servlet-name>
    <url-pattern>/DiccionarioList</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<description></description>
		<display-name>DiccionarioItemList</display-name>
		<servlet-name>DiccionarioItemList</servlet-name>
		<servlet-class>servlets.DiccionarioItemList</servlet-class>
	</servlet>
  <servlet-mapping>
    <servlet-name>DiccionarioItemList</servlet-name>
    <url-pattern>/DiccionarioItemList</url-pattern>
  </servlet-mapping>
 -->
  		<servlet>
			<description></description>
			<display-name>Articulos</display-name>
			<servlet-name>Articulos</servlet-name>
			<servlet-class>servlets.ArticuloSVL</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Articulos</servlet-name>
			<url-pattern>/Articulos</url-pattern>
		</servlet-mapping>
		
		
		
		
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>